<library path="lib/libmoveit_cartesian_plan_plugin">
  <class name="moveit_cartesian_plan_plugin/MoveIt Cartesian Plan Plug-in"
         type="moveit_cartesian_plan_plugin::AddWayPoint"
         base_class_type="rviz::Panel">
    <description>
      Tool for adding spherical way points for trajectory generation.
    </description>
  </class>
</library>
