<library path="lib/libmoveit_cartesian_planner">
  <class name="moveit_cartesian_planner/MoveIt Cartesian Path Planner"
         type="moveit_cartesian_planner::AddWayPoint"
         base_class_type="rviz::Panel">
    <description>
      Tool for adding spherical way points for trajectory generation.
    </description>
  </class>
    <class name="moveit_cartesian_planner/OnMouseClick"
         type="moveit_cartesian_planner::OnMouseClick"
         base_class_type="rviz::Tool">
    <description>
      Mouse Click detection tool.
    </description>
  </class>

</library>